<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>About Me</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <header>
    <nav>
      <a href="index.html">Home</a>
      <a href="projects.html">Projects</a>
      <a href="about.html">About</a>
      <a href="contact.html">Contact</a>
    </nav>
  </header>

  <main class="container">
    <h1>About Me</h1>
    <p>Hello! I'm [ATCHAYA], Welcome to my portfolio
    <h2>Skills</h2>
    <ul>
      <li>HTML5, CSS3, JavaScript</li>
      <li>React.js, GitHub</li>
      <li>AWS S3, Lambda, DynamoDB</li>
    </ul>

    <h2>Hobbies</h2>
    <p>Coding, reading tech blogs, and building side projects.</p>
  </main>
</body>
</html>